.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("https://cdn.glitch.com/323a5f71-5800-4689-9792-0fed771775d5%2Fzima-sneg-dom-derevo.jpg?v=1587499285074");

}
.container {
  position: relative;
  top: 5em;
  left: 60px;
  background-color: none;
}
a
/*  bhoechie tab */
div.bhoechie-tab-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #972626;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  
}
.col-lg-3.col-md-3.col-sm-3.col-xs-3.bhoechie-tab-menu {
  position: absolute;
  width: 810px;
  left: 0px;
  top: -4em;
  

}

div.bhoechie-tab-menu div.list-group {
  position: relative;
  width: 190px;
  list-style: none;

}
div.bhoechie-tab-menu {
  position: absolute;

    border-radius: 0px 5px 5px 0px;
}
.col-lg-9.col-md-9.col-sm-9.col-xs-9.bhoechie-tab {
  position: absolute;
  font-size: 20px;
  top: -3.2em;
  left: 10.2em;
  height: 24.25em;
  width: 50%;
  border: 1px solid rgb(180, 175, 175);
  border-left: 1px solid rgb(123, 119, 179);
  border-radius: 0px 5px 5px 0px;
  background-size: 270%;
  background-position:35% 5%;
  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.com/323a5f71-5800-4689-9792-0fed771775d5%2Fzima-sneg-dom-derevo.jpg?v=1587499285074");

opacity: 85%;
}
.col-lg-9.col-md-9.col-sm-9.col-xs-9.bhoechie-tab:hover {
  opacity: 90%;
  border: 1px solid rgb(208, 208, 209);

}
.bhoechie-tab-content.active {
  position: relative;
  text-decoration-line: none;
  top: 20px;

}
.col-md-9 {
  position: relative;
  flex: 0 0 75%;
  max-width: 85%;

}

div.bhoechie-tab-menu div.list-group > a {
  margin-bottom: 0;
  text-align: left;
  text-decoration-line: none;

}

div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
  color: #00001a;
  
}
div.bhoechie-tab-menu div.list-group > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  
}
div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #004c99;
  color: #ffffff;
  
}
div.bhoechie-tab-menu div.list-group > a.active:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #004c99;

}
div.bhoechie-tab-menu div.list-group:hover > a.active:after {
  border-left: 10px solid rgb(1, 2, 3);

}
div.bhoechie-tab-content {
  position: absolute;
  border: none;
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;

}

.heads {
  position: relative;
  color: #00001a;
  background-color: #b40202b6;
}

.glyphicon.glyphicon-user {
  font-size: 14em;
  color: #00001a;
}
.glyphicon.glyphicon-tasks {
  font-size: 12em;
  color: #00001a;
}
.tasks {
  position: relative;
  top: -20px;
  height: 482px;
  width: 342px;
  left: -15px;
  border-radius: 0px 5px 5px 0px;
  background-color: none;
  color: rgb(2, 0, 146);
  
}
.tasks:hover {
  opacity: 100%;
 
}
.glyphicon.glyphicon-transfer {
  left: 200px;
  font-size: 12em;
  color: #00001a;
}
.glyphicon.glyphicon-edit {
  font-size: 12em;
  color: #00001a;
}
.glyphicon.glyphicon-home {
  position: relative;
  font-family: "Aclonica";
  top: 30px;
  height: 96px;
  left: 30px;
  font-size: 24px;
  
}
.list-group-item {
	position: relative;
	display: block;
	background-color: #979393;
  border: 1px solid rgb(243, 12, 12);
  background-color:none;
  width: 190px;
  opacity: 85%;
}
.list-group-item:hover {
  opacity: 100%;
  background-color: #919090b6;
  text-decoration-line: none;
}

.list-group-item.active {
  width: 190.2px;
}
.nav{
  position: absolute;
  top: -80px;
  left:-170px;
  border-radius: 5px;
  background-color: red;
  padding-right: 5px;
  padding-left: 10px;
  opacity: 80%;
}