.main{
    position: relative;
    top:200px;
    left:200px;
    color: wheat;
}
.main h2{
    position: relative;
    left:60px;
    color: wheat;
}
.btn.btn-dark.sec{
    position: relative;
    top:20px;
    left: 250px;
}