@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  height: 100%;
  font-family: "Numans", sans-serif;

}

.container {
  height: 100%;
  align-content: center;
}
input.form-control{
  width: 100px;

}
.card-body {
  position: relative;
  top: 70px;
  left: 70px;
  flex-direction: column;
  width: 350px;
  background-color: none;
  background-clip: border-box;
  border: none;
  border-radius: 0.35rem;

}

.btn.btn-primary {
  position: relative;
  left: 122px;
  top: -30px;
}
.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}
.row-align-items-center-remember:hover {
  color: white;
  cursor: pointer;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
  
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important; 
}

.remember {
  color: rgb(167, 195, 221);
}

.remember input {
  position: relative;
  top: 14px;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 12px;
}

.rem {
  position: relative;
  top: 22px;
  font-size: 20px;
  color: rgb(10, 36, 236);
}
.q {
  font-family: "Aclonica";
  color: #ffffff;
  
}
.qq{
    position: relative;
    top:30px;
    left:0px;
    border-radius: 25px;
    padding: 9px;
    background-color: rgb(131, 125, 155);
}
.a {
  position: relative;
  top:30px;
  font-family: "Aclonica";
  background-color: rgb(21, 1, 110);
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
.b:hover {
  text-decoration-line: none;
  color: white;
 background-color: rgb(5, 8, 148)   ;

}
.b {
  position: relative;
  top: 7px;
  color: rgb(250, 251, 252);
}
.a:hover {
  position: relative;
  border-radius: 5px;
  background-color: rgb(5, 8, 148);

  width: 100px;
  height: 40px;
  color: rgb(3, 6, 212);
}
.head {
  position: relative;
  bottom: 70px;
  right: 0px;
 color: rgb(38, 1, 49);
}
.head:hover{
    color: rgb(11, 14, 196);
}
.hr{
    position: relative;
    top:35px;
color: rgb(0, 0, 0);
background-color: rgb(0, 0, 0);
}