html,
body {
  position: relative;
  height: 100%;
}
.panel {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px 0px 0px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  position: relative;
  left: 132px;
  width: 100%;

}
.panel.panel-primary.sec {
  background-color: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0); */
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  position: relative;
  left: 132px;
}
.panel.panel-primary.st {
  background-color: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0); */
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  position: relative;
  left: 100px;
  width: 450px;
}

.panel-primary {
  border-color: #428bca;
  margin-top: 50px;
}

.panel-primary > .panel-heading {
  background-color: #428bca;
  border-color: #428bca;
  color: #ffffff;
}

.panel-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  padding: 10px 15px;
}
.panel-heading.sec {
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  padding: 10px 15px;
}

.panel-title {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.panel-body {
  padding: 15px;
  height: 500px;
}

.panel-footer {
  background-color: #428bca;
  border-radius: 0px 0px 5px 5px;
  border-top: 1px #428bca;
  position: relative;
  top: 10px;
  right: 347px;
  width: 1030px;
  height: 30px;
}
.panel-footer:hover {
  background-color: rgb(0, 238, 255);
}
.flash:hover {
  background-color: rgba(218, 218, 218, 0.534);
  border-radius: 3px;
  border-bottom: 1px #428bca;
}
.copy {
  position: relative;
  top: -7px;
  left: 290px;
  color: #428bca;
}
.copy:hover {
  color: white;
}
/* //CSS from v3 snipp */
.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  position: relative;
  top: 20px;
  margin: 0px;
  padding: 0px;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

.span10.offset1.sec {
  height: 110px;
}

.well.span8.offset2.sec {
  width: 700px;
  position: absolute;
  left: 340px;
}
.well.span8.offset2 {
  width: 300px;
  height: 90%;
  position: absolute;
  left: 40px;
}
.panel-title.sec {
  height: 19px;
}
.panel-body.sec {
  height: 500px;
}
.btn.btn-dark {
  position: relative;
  bottom: 7px;

  background-color: rgba(17, 6, 49, 0.877);
  padding: 5px;
  color: rgba(242, 247, 243, 0.877);
}
.btn.btn-dark:hover {
  position: relative;
  bottom: 7px;
  background-color: rgba(48, 67, 105, 0.877);
  padding: 5px;
}
