<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Language Platform Project">
    <meta name="author" content="Elif, Akbel, Yavuz, Hamdan">
    <title>Offers Page</title>
    <link rel="stylesheet" href="style.css" rel="stylesheet"> 
</head>
<body>

<div>
<h2>Language Platform</h2>
</div>
<div class="table-all">
<table class="table">
<thead>
<tr>
<th>Offers</th>
<th>Companies</th>
<th>Details</th>


</tr>
</thead>
<tbody>
<tr>
<td>We are looking for someone who wants to learn English,
     as volunteers for 10 days in the IT sector</td>
<td>GAMMA Company</td>
<td>Content 1</td>


</tr>
<tr>
<td>Content 2</td>
<td>Content 2</td>
<td>Content 2</td>

</tr>
<tr>
<td>Content 3</td>
<td>Content 3</td>
<td>Content 3</td>

</tr>
<tr>
<td>Content 4</td>
<td>Content 4</td>
<td>Content 4</td>

</tr>


<tbody>
</table>
</div>

</body>
</html>