<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Language Platform Project">
    <meta name="author" content="Elif, Akbel, Yavuz, Hamdan">
    <title>Offers Page</title>
    <link rel="stylesheet" href="style.css" rel="stylesheet"> 
</head>
<body>

<div>
<h2>Language Platform</h2>
</div>
<div class="table-all">
<table class="table">
<thead>
<tr>
<th>Offers</th>
<th>Companies</th>



</tr>
</thead>
<tbody>
<tr>
<td>We are looking for someone who wants to learn Dutch,
     for 30 days as volunteers in the IT sector..
     <details>

        <summary style="color:red"> Details..</summary>
       
        <ul>
            <li>The location of the company is Duffel.</li>
               <li>We give 30 days of work experience.</li>
               <li>We only have 5 people capacity.</li>
               <li>In the company, we communicate in the Dutch language.</li>
               <li>We work in the IT sector.</li>
               <li>We want to help people who want to learn a new language.</li>
               <li>The phone-number: 8112 </li>
               <li>If you are experienced in the IT sector and are ready to learn a new language,</li>
                <br>We are waiting..
            
            </ul>
        
    </details></td>

<td class="companies">GAMMA Company</td>



</tr>
<tr>
    <td>We are looking for someone who wants to learn English,
        for 7 days as volunteers in the Media sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Gent.</li>
               <li>We give 7 days of work experience.</li>
               <li>We only have 3 people capacity.</li>
               <li>In the company, we communicate in the English language.</li>
               <li>We work in the Media sector.</li>
               <li>We want to help people who want to learn a new language.</li>
               <li>The phone-number: 8212 </li>
               <li>If you are experienced in the Media sector and are ready to learn a new language,</li>
                <br>We are waiting..
               
               </ul>
           
       </details></td>
<td class="companies">FCR Media Group</td>


</tr>
<tr>
    <td>We are looking for someone who wants to learn English,
        for 7 days as volunteers in the Sport sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Turnhout.</li>
                  <li>We give 7 days of work experience.</li>
                  <li>We only have 10 people capacity.</li>
                  <li>In the company, we communicate in the English language.</li>
                  <li>We work in the Sport sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8312 </li>
                  <li>If you are experienced in the Sport sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">ADIDAS Company</td>
</tr>
<tr>
    <td>We are looking for someone who wants to learn English,
        for 60 days as volunteers in the Sport sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Gent.</li>
                  <li>We give 60 days of work experience.</li>
                  <li>We only have 1 people capacity.</li>
                  <li>In the company, we communicate in the English language.</li>
                  <li>We work in the Sport sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8111 </li>
                  <li>If you are experienced in the Sport sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">GAMMA Company</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn French,
        for 14 days as volunteers in the Transportation sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Mechelen.</li>
                  <li>We give 14 days of work experience.</li>
                  <li>We only have 20 people capacity.</li>
                  <li>In the company, we communicate in the French language.</li>
                  <li>We work in the Transportation sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8411 </li>
                  <li>If you are experienced in the Transportation sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">Colruyt Group</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn French,
        for 20 days as volunteers in the Education sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Mechelen.</li>
                  <li>We give 20 days of work experience.</li>
                  <li>We only have 5 people capacity.</li>
                  <li>In the company, we communicate in the French language.</li>
                  <li>We work in the Education sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8511 </li>
                  <li>If you are experienced in the Education sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">CRONOS</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn French,
        for 7 days as volunteers in the IT sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Mechelen.</li>
                  <li>We give 7 days of work experience.</li>
                  <li>We only have 3 people capacity.</li>
                  <li>In the company, we communicate in the French language.</li>
                  <li>We work in the IT sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8411 </li>
                  <li>If you are experienced in the IT sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">Colruyt Group</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn Dutch,
        for 30 days as volunteers in the IT sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Antwerpen.</li>
                  <li>We give 30 days of work experience.</li>
                  <li>We only have 5 people capacity.</li>
                  <li>In the company, we communicate in the Dutch language.</li>
                  <li>We work in the IT sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8211 </li>
                  <li>If you are experienced in the IT sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">FCR Media</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn English,
        for 15 days as volunteers in the Sport sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Antwerpen.</li>
                  <li>We give 15 days of work experience.</li>
                  <li>We only have 11 people capacity.</li>
                  <li>In the company, we communicate in the English language.</li>
                  <li>We work in the Sport sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8312 </li>
                  <li>If you are experienced in the Sport sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">ADIDAS Company</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn English,
        for 5 days as volunteers in the IT sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Gent.</li>
                  <li>We give 5 days of work experience.</li>
                  <li>We only have 3 people capacity.</li>
                  <li>In the company, we communicate in the English language.</li>
                  <li>We work in the IT sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8212 </li>
                  <li>If you are experienced in the IT sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">FCR Media</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn Dutch,
        for 60 days as volunteers in the Transportation sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Duffel.</li>
                  <li>We give 60 days of work experience.</li>
                  <li>We only have 10 people capacity.</li>
                  <li>In the company, we communicate in the Dutch language.</li>
                  <li>We work in the Transportation sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8412 </li>
                  <li>If you are experienced in the Transportation sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">Colruyt Group</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn Dutch,
        for 14 days as volunteers in the IT sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Antwerpen.</li>
                  <li>We give 14 days of work experience.</li>
                  <li>We only have 7 people capacity.</li>
                  <li>In the company, we communicate in the Dutch language.</li>
                  <li>We work in the IT sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8512 </li>
                  <li>If you are experienced in the IT sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">CRONOS</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn English,
        for 40 days as volunteers in the IT sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Gent.</li>
                  <li>We give 40 days of work experience.</li>
                  <li>We only have 3 people capacity.</li>
                  <li>In the company, we communicate in the English language.</li>
                  <li>We work in the IT sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8111 </li>
                  <li>If you are experienced in the IT sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">GAMMA Company</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn Dutch,
        for 10 days as volunteers in the Transportation sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Antwerpen.</li>
                  <li>We give 10 days of work experience.</li>
                  <li>We only have 15 people capacity.</li>
                  <li>In the company, we communicate in the Dutch language.</li>
                  <li>We work in the Transportation sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8312</li>
                  <li>If you are experienced in the Transportation sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">ADIDAS Company</td>
</tr>

<tr>
    <td>We are looking for someone who wants to learn Dutch,
        for 20 days as volunteers in the Media sector..
        <details>
   
           <summary style="color:red"> Details..</summary>
          
           <ul>
               <li>The location of the company is Antwerpen.</li>
                  <li>We give 20 days of work experience.</li>
                  <li>We only have 8 people capacity.</li>
                  <li>In the company, we communicate in the Dutch language.</li>
                  <li>We work in the Media sector.</li>
                  <li>We want to help people who want to learn a new language.</li>
                  <li>The phone-number: 8211</li>
                  <li>If you are experienced in the Media sector and are ready to learn a new language,</li>
                   <br>We are waiting..
               
               </ul>
           
       </details></td>
   
   <td class="companies">FCR Media</td>
</tr>
<tbody>
</table>
</div>

</body>
</html>