*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }

    body{
    font-family: Arial, sans-serif;
    background: #F8F8F8;
    }

    h2{
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #382C42;
    padding: 20px 0;
    border-bottom: rgb(10, 16, 100) 2px solid;
    }
    
    /* Table Styles */
    
    .table-all{
    margin: 10px 220px 220px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }
    
    .table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgb(221, 214, 226);
    }
    
    .table td, .table th {
    text-align: center;
    padding: 10px;
    }
    
    .table td {
    border-right: none;
    border-bottom: #382C42 2px solid;
    font-size: 12px;
    font-weight: bold;
    }
    
    .table thead th {
    color: #ffffff;
    background: #382C42;
    border-right: 3px solid rgb(133, 119, 145);
    font-weight: bold;
    
    }
    
    .table thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(95, 75, 112);
    border-right: 3px solid rgb(83, 52, 107);
    }
    
    .table tr:nth-child(even) {
    background: rgb(234, 229, 236);
    }
    
    /* Responsive */
    
    @media (max-width: 767px) {
    .table {
    display: block;
    width: 100%;
    }
    .table-all:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
    }
    .table thead, .table tbody, .table thead th {
    display: block;
    }
    .table thead th:last-child{
    border-bottom: none;
    }
    .table thead {
    float: left;
    }
    .table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    }
    .table td, .table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
    }
    .table thead th {
    text-align: left;
    border-bottom: 1px solid #d7b692;
    }
    .table tbody tr {
    display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
    background: none;
    }
    .table tr:nth-child(even) {
    background: transparent;
    }
    .table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #d7b692;
    }
    .table tr td:nth-child(even) {
    border-right: 1px solid #d7b692;
    }
    .table tbody td {
    display: block;
    text-align: center;
    }
    }
    